################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/Domain/obj
/Logic/obj
/ShowShop.Logic/bin/Debug/net8.0
/ShowShop.Domain/obj
/ShowShop.Domain/bin/Debug/net8.0
/ShowShop.Logic/obj
