################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/bin/Debug/net8.0
/Core/obj
/Logic/bin/Debug/net8.0
/Logic/obj
/.vs
